<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>seque-example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4982063E1D9B344E00C35098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498206521D9B344E00C35098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4982065D1D9B344E00C35098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
